@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #434343;
	line-height: 160%;
	background-image: url(../images/pbg.jpg);
	background-repeat: repeat-x;
}
* html body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #434343;
	line-height: 180%;
	background-image: url(../images/pbg.jpg);
	background-repeat: repeat-x;
}


img {
	vertical-align: bottom;
	vertical-align: text-bottom;
	border: none;
	-ms-interpolation-mode: bicubic;
}

link {
	color: #434343;
	text-decoration: none;
}
a:link {
	color: #434343;
	text-decoration: none;
}
a:link:hover {
	color: #434343;
/*	text-decoration: none; */
/*	border-bottom:solid 1px #FF3706;*/
}
a:visited {
	color: #434343;
	text-decoration: none;
}
a:visited:hover {
	color: #434343;
	text-decoration: none;
}

a.bluelink {
	color: #32CCFE;
	text-decoration: underline;
}
a.bluelink:link {
	color: #32CCFE;
	text-decoration: underline;
}
a.bluelink:hover {
	color: #999;
	text-decoration: underline;
}
a.bluelink:visited {
	color: #32CCFE;
	text-decoration: underline;
}
a.bluelink:visited:hover {
	color: #999;
	text-decoration: underline;
}



#wrapper {
	width: auto;
}
#header {
	width: 1000px;
	height: 280px;
	margin: 0 auto;
	padding-left: 0px;
	overflow: hidden;
	position: relative;
	background-image: url(../images/logo.jpg);
	background-position: 0 25px;
	position: relative;
}
#header ul.topnavi {
	position: absolute;
	top: 5px;
	left: 430px;
	width: 570px;
	height: 20px;
	overflow: hidden;
}
#header ul.topnavi li {
	float: left;
}

#header h1.logo {
	display: block;
	width: 1000px;
	height: 220px;
}
#header h1.logo a {
	display: block;
	width: 1000px;
	height: 220px;
	text-indent: -9999px;
	overflow: hidden;
	border: none;
}
#header div.navicabinet {
	width: 1000px;
	height: 60px;
	background-image: url(../images/navibarbg_off.jpg);
	background-repeat: repeat-x;
}
#header div.navicabinet ul.navi {
	width: 1000px;
	height: 60px;
	margin-top: 0px;
	overflow: hidden;
	list-style: none;
}
#header div.navicabinet ul.navi li {
	float: left;
}
#header div.navicabinet ul.navi li a {
	border: none!important;
}

#topimage {
	width: auto;
	height: 370px;
	margin-bottom: 45px;
	background-image: url(../images/titleimagebg.jpg);
	background-repeat: repeat-x;
	border-bottom: 5px solid #CCE5FF;
}
#topimage div.imagecabinet {
	width: 1200px;
	height: 370px;
	margin: 0 auto;
	background-repeat: no-repeat;
	position: relative;
}
#topimage div.imagecabinet div.signupbtn {
	position: absolute;
	top: 70px;
	left: 760px;
	width: 320px;
	height: 60px;
}
#topimage div.imagecabinet ul.innerlink {
	position: absolute;
	left: 85px;
	top: 170px;
	list-style: none;
}
#topimage div.imagecabinet ul.innerlink li {
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
/*	background-image: url(../images/arrow.png); */
	background-repeat: no-repeat;
	background-position: 0 2px;
	margin-bottom: 7px;
	color: #FFF;
}
#topimage div.imagecabinet ul.innerlink li a {
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
	/*	background-image: url(../images/arrow.png); */
	background-repeat: no-repeat;
	background-position: 0 2px;
	margin-bottom: 7px;
	color: #FFF;
	text-decoration: none;
	border: none;
}
#topimage div.imagecabinet ul.innerlink li a:hover {
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
}

#topimage div.imagecabinet ul.innerlink_float {
	position: absolute;
	width: 1000px;
	left: 85px;
	top: 170px;
	list-style: none;
	overflow: hidden;
}
#topimage div.imagecabinet ul.innerlink_float li {
	float: left;
	width: 470px;
	margin-right: 20px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
/*	background-image: url(../images/arrow.png); */
	background-repeat: no-repeat;
	background-position: 0 2px;
	margin-bottom: 14px;
	color: #FFF;
}
#topimage div.imagecabinet ul.innerlink_float li a {
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
	/*	background-image: url(../images/arrow.png); */
	background-repeat: no-repeat;
	background-position: 0 2px;
	margin-bottom: 7px;
	color: #FFF;
	text-decoration: none;
	border: none;
}
#topimage div.imagecabinet ul.innerlink_float li a:hover {
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
}




#faux {
	width: auto;
	overflow: hidden;
}
#fullcolumn {
	width: auto;
	margin-bottom: 50px;
	overflow: hidden;
}

#fullcolumn div.band {
	width: auto;
	margin-bottom: 40px;
	padding-bottom: 0px;
/*	border-bottom: 1px solid #CCC;*/
}
#fullcolumn div.band div.bandend {
	width: auto;
	height: 50px;
	margin-bottom: 40px;
	padding-bottom: 0px;
	background-image: url(../images/bandendbg.jpg);
	background-repeat: repeat-x;
}
#fullcolumn div.band div.bandend div.innercabinet {
	margin: 0 auto;
	width: 50px;
	height: 50px;
	padding-left: 950px;
}
#fullcolumn div.band div.cabinet {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.blocktitle {
	width: 1000px;
	height: 200px;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.blocktitle_text {
	width: 980px;
	min-height: 60px;
	overflow: hidden;
	border-left: 5px solid #05579C;
	padding-left: 14px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	font-size: 35px;
	font-weight: bold;
	line-height: 140%;
}

#fullcolumn div.band div.cabinet div.headcaption {
	width: 980px;
	min-height: 30px;
	overflow: hidden;
	border-left: 5px solid #05579C;
	padding-left: 14px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	font-size: 18px;
	font-weight: bold;
	line-height: 140%;
}
#fullcolumn div.band div.cabinet div.sectiontitle {
	width: 980px;
	min-height: 30px;
	overflow: hidden;
	border-left: 5px solid #05579C;
	padding-left: 14px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: bold;
	line-height: 140%;
}

#fullcolumn div.band div.cabinet div.newstitle {
	width: 980px;
	min-height: 20px;
	overflow: hidden;
	border-left: 5px solid #05579C;
	padding-left: 14px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	font-size: 18px;
	font-weight: bold;
	line-height: 140%;
}


#fullcolumn div.band div.cabinet div.alertcaption {
	width: 950px;
	min-height: 30px;
	overflow: hidden;
	padding-left: 50px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 140%;
}


#fullcolumn div.band div.cabinet div.function {
	width: 970px;
	padding-left: 30px;
/*	border-left: 10px solid #333; */
	overflow: hidden;
}
/*#fullcolumn div.band div.cabinet div.function div.photobox {
	width: 970px;
	margin-bottom: 20px;
}
#fullcolumn div.band div.cabinet div.function div.photobox img {
	margin-right: 40px;
	border: 1px solid #CCC;
	border-collapse: collapse;
}
#fullcolumn div.band div.cabinet div.function div.caption {
	width: 970px;
	font-size: 16px;
	line-height: 160%;
}*/

#fullcolumn div.band div.cabinet div.function p.stdtext {
	font-size: 18px;
	line-height: 200%;
	margin-bottom: 40px;
}

#fullcolumn div.band div.cabinet div.function ul.stdlist {
	list-style: disc;
	margin-left: 30px;
	margin-bottom: 40px;
}
#fullcolumn div.band div.cabinet div.function ul.stdlist li {
	font-size: 18px;
	line-height: 160%;
	margin-bottom: 20px;
}

#fullcolumn div.band div.cabinet div.function dl.newslist {
	width: 970px;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.function dl.newslist dt {
	float: left;
	width: 100px;
	padding-top: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	line-height: 160%;
	margin-bottom: 30px;
}
#fullcolumn div.band div.cabinet div.function dl.newslist dd {
	float: left;
	width: 870px;
	font-size: 15px;
	line-height: 160%;
	margin-bottom: 30px;
}



#fullcolumn div.band div.cabinet div.function div.photobox {
	float: right;
	width: 500px;
	margin-left: 30px;
	margin-bottom: 30px;
}
#fullcolumn div.band div.cabinet div.function div.photobox img {
/*	border: 1px solid #CCC;
	border-collapse: collapse; */
}
#fullcolumn div.band div.cabinet div.function div.caption {
	float: left;
	width: 440px;
	font-size: 18px;
	line-height: 200%;
}


#fullcolumn div.band div.cabinet div.question {
	width: 900px;
	height: 80px;
	overflow: hidden;
	padding-left: 100px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-image: url(../images/faq_q.jpg);
	background-repeat: no-repeat;
	font-size: 20px;
	font-weight: bold;
	line-height: 140%;
}
#fullcolumn div.band div.cabinet div.answer {
	width: 900px;
	min-height: 80px;
	padding-left: 100px;
	background-image: url(../images/faq_a.jpg);
	background-repeat: no-repeat;
	font-size: 18px;
	line-height: 180%;
}


#fullcolumn div.band div.cabinet iframe.inquiryform {
	width: 880px;
	min-height: 600px;
	margin-left: 30px;
	padding: 30px;
	margin-bottom: 50px;
	border: 1px solid #ccc;
	border-collapse: collapse;
	overflow: hidden;
}



#fullcolumn div.band div.cabinet div.profilelist {
	width: 980px;
	margin-left: 20px;
	margin-bottom: 40px;
}
#fullcolumn div.band div.cabinet div.profilelist table {
	width: 980px;
}
#fullcolumn div.band div.cabinet div.profilelist table th {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}
#fullcolumn div.band div.cabinet div.profilelist table td {
	padding: 10px;
	font-size: 12px;
	line-height: 140%;
}

#fullcolumn div.band div.cabinet p.caution {
	width: 980px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 140%;
}




#fullcolumn div.band div.cabinet ul.innerline {
	width: 1000px;
	list-style: none;
}
#fullcolumn div.band div.cabinet ul.innerline li {
	width: 780px;
	padding-left: 140px;
	list-style: none;
	border-left: 10px solid #333;
	background-position: 10px 0px;
	background-repeat: no-repeat;
}
#fullcolumn div.band div.cabinet ul.innerline li ul.strongtext {
	list-style: none;
	min-height: 60px;
	margin-bottom: 40px;
}
#fullcolumn div.band div.cabinet ul.innerline li ul.strongtext li {
	padding: 0px!important;
	background: none!important;
	border: none!important;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	line-height: 140%;
	color: #004C91;
}
#fullcolumn div.band div.cabinet ul.innerline li ul.stdtext {
	list-style: none;
	min-height: 60px;
	margin-bottom: 40px;
}
#fullcolumn div.band div.cabinet ul.innerline li ul.stdtext li {
	padding: 0px!important;
	background: none!important;
	border: none!important;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 160%;
}


#fullcolumn div.band div.cabinet div.sectioncabinet {
	width: 980px;
	padding-top: 130px;
	padding-left: 20px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.floatboxcabinet {
	width:  980px;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.floatboxcabinet li {
	float: left;
	width:  300px;
	margin-right: 30px;
	background-repeat: no-repeat;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.articlebanner {
	width:  980px;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.articlebanner li {
	float: left;
	width:  300px;
	height: 100px;
	margin-right: 30px;
	margin-bottom: 30px;
}

#tickerbar {
	width: auto;
	height: 40px;
	background-image: url(../images/newsbarbg.jpg);
	background-repeat: repeat-x;
}
#tickerbar div.newscabinet {
	width: 997px;
	height: 40px;
	margin: 0 auto;
	padding-top: 3px;
/*	padding-left: 120px;
	background-image: url(../images/newsbarhd.jpg);
	background-repeat: no-repeat;*/
}
#tickerbar div.newscabinet div. {
}

#footer {
	height: 80px;
	border-top: 1px solid #FFF;
	padding-top: 0px;
	background-image: url(../images/ftbg.jpg);
	background-repeat: repeat-x;
	background-color: #333;
}
#footer div.cabinet {
	width: 1000px;
	margin: 0 auto;
	margin-top: 60px;
}

#footer div.cabinet div.copyright {
	width: 1000px;
	height: 20px;
}


p.caption {
	font-size: 14px;
	line-height: 160%;
}
p.readall {
	font-size: 10px;
	line-height: 100%;
	text-align: right;
}
p.readall a {
	color: #CC0000;
	text-decoration: none;
	border: none;
}
p.readall a:hover {
	border-bottom:solid 1px #CC0000;
}

ul.asterisktext {
	padding-left:1em;
	font-size: 80%;
}
ul.asterisktext li {
	text-indent:-1em;
	list-style-type:none;
	color:#999999;
}



table.stdtable {
	width: 100%;
	margin-left: 0px;
	padding: 0px;
}
table.stdtable tr th {
	border-bottom: solid 1px #CCCCCC;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
table.stdtable tr th span {
	font-size: 10px;
	color: #999999;
	display: block;
}
table.stdtable tr th span.SPAN993300 {
	color: #993300;
	display:inline;
	font-size: 13px;
	padding-left: 5px;
}
table.stdtable tr td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #CCCCCC;
	font-size: 12px;
}

table.stdtable tr th.tallth {
	border-bottom: solid 1px #CCCCCC;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
}
table.stdtable tr th.tallth_bgred {
	border-bottom: solid 1px #CCCCCC;
	font-weight: bold;
	font-size: 12px;
	color: #FFF;
	background-color: #C69;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
}
table.stdtable tr th.tallth_bgred2 {
	border-bottom: solid 1px #CCCCCC;
	font-weight: normal;
	font-size: 12px;
	background-color: #EAEAEA;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
}

table.stdtable tr td.talltd {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: solid 1px #CCCCCC;
	font-size: 12px;
}
table.stdtable tr td ul li,table.stdtable tr td ul,table.stdtable tr td ol,table.stdtable tr td ol li {
	list-style: none;
	margin: 0px;
	padding: 2px;
}
table.stdtable tr td ul {
	overflow: hidden;
}
table.stdtable tr td ul li {
/*	float: left; */
	padding: 0px 10px 0px 0px;
}
table.stdtable tr td ul li.floatleft {
	float: left;
	padding: 0px 10px 0px 0px;
}
table.stdtable tr td p,table.stdtable tr td div,table.stdtable tr td span {
	clear: both;
}



.clear {
	clear: both;
}