@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #232323;
	line-height: 160%;
}
* html body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #232323;
	line-height: 180%;
}


img {
	vertical-align: bottom;
	vertical-align: text-bottom;
	border: none;
	-ms-interpolation-mode: bicubic;
}

link {
	color: #232323;
	text-decoration: none;
}
a:link {
	color: #232323;
	text-decoration: none;
}
a:link:hover {
	color: #232323;
/*	text-decoration: none; */
/*	border-bottom:solid 1px #FF3706;*/
}
a:visited {
	color: #232323;
	text-decoration: none;
}
a:visited:hover {
	color: #232323;
	text-decoration: none;
}

a.bluelink {
	color: #32CCFE;
	text-decoration: underline;
}
a.bluelink:link {
	color: #32CCFE;
	text-decoration: underline;
}
a.bluelink:hover {
	color: #999;
	text-decoration: underline;
}
a.bluelink:visited {
	color: #32CCFE;
	text-decoration: underline;
}
a.bluelink:visited:hover {
	color: #999;
	text-decoration: underline;
}

a.white:link {
	color: #FFF;
	text-decoration: none;
}
a.white:link:hover {
	color: #FFF;
	text-decoration: none;
	border-bottom:solid 1px #FFF;
}
a.white:visited {
	color: #FFF;
	text-decoration: none;
}
a.white:visited:hover {
	color: #232323;
	text-decoration: none;
	border-bottom:solid 1px #FFF;
}




#wrapper {
	width: auto;
}
#header {
	width: 1000px;
	height: 70px;
	margin: 0 auto;
	margin-top: 20px;
	padding-left: 0px;
	overflow: hidden;
	position: relative;
	position: relative;
}
#header h1.logo {
	display: block;
	width: 1000px;
	height: 220px;
}
#header h1.logo a {
	display: block;
	width: 1000px;
	height: 220px;
	text-indent: -9999px;
	overflow: hidden;
	border: none;
}
#header div.navicabinet {
	width: 1000px;
	height: 50px;
}
#header div.navicabinet ul.navi {
	width: 1000px;
	height: 50px;
	margin-top: 0px;
	overflow: hidden;
	list-style: none;
}
#header div.navicabinet ul.navi li {
	float: left;
}
#header div.navicabinet ul.navi li a {
	border: none!important;
}

#topimage {
	width: auto;
	height: 670px;
	margin-bottom: 0px;
	padding-bottom: 20px;
	border-bottom: 1px solid #666;
}
#topimage div.imagecabinet {
	width: 1000px;
	height: 670px;
	margin: 0 auto;
	background-image: url(../images/topimage.jpg);
	background-repeat: no-repeat;
	position: relative;
}
#topimage div.imagecabinet .topbanner {
	position: absolute;
	width: 400px;
	height: 180px;
	top: 30px;
	left: 600px;
	border: 1px solid #CCC;
}
#topimage div.imagecabinet .newsrelease {
	position: absolute;
	width: 640px;
	padding: 10px;
	top: 640px;
	left: 0px;
	font-size: 10px;
	font-weight: bold;
	color: #666;
	text-align: left;
/*	border: 1px solid #CCC;*/
	overflow: hidden;
}
#topimage div.imagecabinet .newsrelease ul {
	float: left;
	width: 400px;
	margin-left: 40px;
	list-style: none;
	font-size: 12px;
	overflow: hidden;
}
#topimage div.imagecabinet .newsrelease ul li {
	float: left;
	margin-right: 40px;
}
#topimage div.imagecabinet .newsrelease ul li a {
	color: #C36;
	text-decoration: underline;
}

#basicinfo {
	width: 1000px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#faux {
	width: auto;
	overflow: hidden;
}
#fullcolumn {
	width: auto;
	margin-bottom: 20px;
	overflow: hidden;
}

#fullcolumn div.band {
	width: auto;
	margin-bottom: 0px;
	padding-bottom: 80px;
	border-bottom: 1px solid #CCC;
}
#fullcolumn div.bandend {
	width: auto;
	height: 60px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 10px;
	background-image: url(../images/gotoplinkbg.jpg);
	background-repeat: repeat-x;
}
#fullcolumn div.bandend div.innercabinet {
	margin: 0 auto;
	width: 50px;
	height: 50px;
	padding-left: 950px;
}



#fullcolumn div.band div.photoheader {
	width: auto;
	height: 400px;
	background-color: #666;
	overflow: hidden;
}
#fullcolumn div.band div.photoheader div.photo {
	/* width: 1200px; */
	height: 400px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.sectioncabinet {
	width: 1000px;
	padding-top: 30px;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.sectioncabinet div.blocktitle {
	float: left;
	width: 350px;
	height: 100px;
	margin-right: 50px;	
}
#fullcolumn div.band div.cabinet div.sectioncabinet div.textcabinet {
	float: left;
	width: 600px;
	padding-top: 10px;
	font-size: 20px;
	line-height: 200%;
}
/*#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist {
	clear: both;
	width: 950px;
	margin-left: 50px;
	list-style: none;
	padding-top: 50px;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist li {
	float: left;
	width: 200px;
	margin-right: 35px;
	margin-bottom: 30px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist li div.logo {
	width: 200px;
	margin-bottom: 10px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist li div.name {
	width: 200px;
	text-align: center;
	font-size: 14px;
	line-height: 130%;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist li a {
	text-decoration: none;
	border: none;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist li a:hover {
	text-decoration: none;
	border: none;
}*/

#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_p {
	clear: both;
	width: 980px;
	margin-left: 20px;
	list-style: none;
	padding-top: 0px;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_p li {
	float: left;
	width: 160px;
	margin-right: 40px;
	margin-bottom: 40px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_p li div.logo {
	width: 160px;
	height: 100px;
	margin-bottom: 5px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_p li div.logo a {
	border: none!important;
}

#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_p li div.name {
	width: 160px;
	font-size: 12px;
	line-height: 140%;
	text-align: center;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_p li div.name a {
	border: none!important;
}


#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_g {
	clear: both;
	width: 980px;
	margin-left: 20px;
	list-style: none;
	padding-top: 0px;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_g li {
	float: left;
	width: 120px;
	margin-right: 40px;
	margin-bottom: 40px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_g li div.logo {
	width: 120px;
	height: 80px;
	margin-bottom: 5px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_g li div.logo a {
	border: none!important;
}

#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_g li div.name {
	width: 120px;
	font-size: 12px;
	line-height: 140%;
	text-align: center;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_g li div.name a {
	border: none!important;
}



#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_s {
	clear: both;
	width: 980px;
	margin-left: 20px;
	list-style: none;
	padding-top: 0px;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_s li {
	float: left;
	width: 100px;
	margin-right: 10px;
	margin-bottom: 40px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_s li div.logo {
	width: 100px;
	height: 60px;
	margin-bottom: 5px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_s li div.logo a {
	border: none!important;
}

#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_s li div.name {
	width: 100px;
	font-size: 10px;
	line-height: 140%;
	text-align: center;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.sponsorlist_s li div.name a {
	border: none!important;
}







#fullcolumn div.band div.cabinet div.sectioncabinet ul.exhibitorlist {
	clear: both;
	width: 980px;
	margin-left: 20px;
	list-style: none;
	padding-top: 0px;
	overflow: hidden;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.exhibitorlist li {
	float: left;
	width: 160px;
	margin-right: 40px;
	margin-bottom: 40px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet ul.exhibitorlist li a {
	border: none!important;
}


#fullcolumn div.band div.cabinet div.sectioncabinet div.textcabinet div.profilelist {
	float: left;
	width: 600px;
	margin-top: 30px;
	margin-bottom: 40px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet div.textcabinet div.profilelist table {
	width: 600px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet div.textcabinet div.profilelist table th {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}
#fullcolumn div.band div.cabinet div.sectioncabinet div.textcabinet div.profilelist table td {
	padding: 10px;
	font-size: 12px;
	line-height: 140%;
}

#fullcolumn div.band div.cabinet div.sectioncabinet div.textcabinet p.caution {
	width: 600px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 140%;
}




#fullcolumn div.band div.cabinet div.sectioncabinet div.profilelist {
	float: left;
	width: 600px;
	margin-bottom: 40px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet div.profilelist table {
	width: 600px;
}
#fullcolumn div.band div.cabinet div.sectioncabinet div.profilelist table th {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}
#fullcolumn div.band div.cabinet div.sectioncabinet div.profilelist table td {
	padding: 10px;
	font-size: 12px;
	line-height: 140%;
}

#fullcolumn div.band div.cabinet div.sectioncabinet p.caution {
	width: 600px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 140%;
}



#tickerbar {
	width: auto;
	height: 40px;
	margin-bottom: 10px;
}
#tickerbar div.newscabinet {
	width: 997px;
	height: 40px;
	margin: 0 auto;
	padding-top: 3px;
	overflow:hidden;
}
#tickerbar div.newscabinet div. {
}

#footer {
	height: 80px;
	border-top: 1px solid #FFF;
	padding-top: 0px;
}
#footer div.cabinet {
	/* width: 1200px; */
	margin: 0 auto;
	margin-top: 60px;
}

#footer div.cabinet div.copyright {
	/* width: 1200px; */
	height: 20px;
	text-align: center;
}
#footer div.cabinet div.copyright strong {
	font-weight: bold;
}

p.caption {
	font-size: 14px;
	line-height: 160%;
}
p.readall {
	font-size: 10px;
	line-height: 100%;
	text-align: right;
}
p.readall a {
	color: #CC0000;
	text-decoration: none;
	border: none;
}
p.readall a:hover {
	border-bottom:solid 1px #CC0000;
}


table.stdtable {
	width: 100%;
	margin-left: 0px;
	padding: 0px;
}
table.stdtable tr th {
	border-bottom: solid 1px #FFF;
	font-weight: normal;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFF;
}
table.stdtable tr th span {
	font-size: 10px;
	color: #FFF;
	display: block;
}
table.stdtable tr th span.SPAN993300 {
	color: #993300;
	display:inline;
	font-size: 15px;
	padding-left: 5px;
}
table.stdtable tr td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #FFF;
	font-size: 16px!important;
	color: #FFF;
}

table.stdtable tr td div.incellbox {
	width: 480px;
	overflow: hidden;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dotted #FFF;
}
table.stdtable tr td div.incellbox div.titlebox {
	width: 480px;
	margin-bottom: 10px;
}
table.stdtable tr td div.incellbox dl {
	width: 460px;
	margin-left: 20px;
	overflow: hidden;
}
table.stdtable tr td div.incellbox dl dt {
	float: left;
	font-size: 13px;
	width: 60px;
	margin-bottom: 10px;
}
table.stdtable tr td div.incellbox dl dd {
	float: left;
	width: 400px;
	font-size: 13px;
	margin-bottom: 10px;
}

table.stdtable tr th.tallth {
	border-bottom: solid 1px #FFF;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
}
table.stdtable tr th.tallth_bgred {
	border-bottom: solid 1px #FFF;
	font-weight: bold;
	font-size: 15px;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
}
table.stdtable tr th.tallth_bgred2 {
	border-bottom: solid 1px #CCCCCC;
	font-weight: normal;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
}

table.stdtable tr td.talltd {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: solid 1px #FFF;
	font-size: 15px;
}
table.stdtable tr td ul li,table.stdtable tr td ul,table.stdtable tr td ol,table.stdtable tr td ol li {
	list-style: none;
	margin: 0px;
	padding: 2px;
}
table.stdtable tr td ul {
	overflow: hidden;
}
table.stdtable tr td ul li {
/*	float: left; */
	padding: 0px 10px 0px 0px;
}
table.stdtable tr td ul li.floatleft {
	float: left;
	padding: 0px 10px 0px 0px;
}
table.stdtable tr td p,table.stdtable tr td div,table.stdtable tr td span {
	clear: both;
}




.clear {
	clear: both;
}

ul#coworkingSpaces li a{
    color:#FFF;
    text-decoration: underline;
    font-size: 90%;
}